* {
  padding: 0px;
  margin: 0px;
}
.images > div {
  width: 200px;
  height: 200px;
  background: #fcc;
  line-height: 200px;
  text-align: center;
}
.images {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  transition: all 0.3s ease-in-out;
}
.window {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}
.red {
  color: red;
}
button {
  padding: 4px 10px;
}
